services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    ports:
      - 3000:3000
    volumes:
      - /mediastack/config/homepage:/app/config # Make sure your local config directory exists
      - /mediastack/config/homepage/icons:/app/public/icons # Optional: Custom icons for bookmarks and services
      - /var/run/docker.sock:/var/run/docker.sock # (optional) For docker integrations
    environment:
      HOMEPAGE_ALLOWED_HOSTS: blackdebian.lan:3000 # required, may need port. See gethomepage.dev/installation/#homepage_allowed_hosts
